body {
    text-align: center;
}

.clear {
    clear: both;
}

#game-info {
    margin-bottom: -50px;
}

.stats {
    display: inline-block;
    padding: 10px;
}

.stat-value {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 50px;
    padding-top: 15px;
    border: 4px dotted #3f3;

}
