body {
    text-align: center;
    height:100%;
    margin:0;
    padding:0;
}

#modal {
    background: white;

    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    margin: -25% 0 0 -25%;

    /* Embiggen */
    transform: scale(1.5); /* prefix me */

    /* Hidden */
    opacity: 0;
    pointer-events: none;
}

.dialogIsOpen #page-wrap {

    /* Blur and de-color */
    -webkit-filter: blur(5px) grayscale(50%);

    /* Recede */
    -webkit-transform: scale(0.9);

}

.dialogIsOpen #modal {

    /* Regular size and visible */
    transform: scale(1); /* prefix me */
    opacity: 1;

    /* Clickable */
    pointer-events: auto;

}

#page-wrap, #modal {

    transition: all 0.4s ease; /* prefix me */

}

.clear {
    clear: both;
}

#game-info {
    margin-bottom: -50px;
}

.stats {
    display: inline-block;
    padding: 10px;
}

.stat-value {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 50px;
    padding-top: 15px;
    border: 4px dotted #3f3;

}
